@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="login-main">
    <div class="layout clearfix">
        <!-- 广告 -->
        <div class="reg-ad">
            <a href="#"><img src="../images/about.png" alt=""></a>
        </div>
        <!-- 广告 end -->
        <!-- 登录框 -->
        @using (Html.BeginForm("LoginVal", "UserBasicInfo"))
        {
          
        }
        <!-- 登录框 end -->
    </div>
</div>
 
