@model GuDong.Model.GuDong.Banner
<!-- 中层广告 -->
@if (Model != null) {
    <div class="wrap-ad layout">
        <a href="@(Model.LinkUrl)" target="_blank"><img src="@(Model.Image)" alt=""></a>
    </div>
}
<!-- 中层广告 end -->
